<section class="container-fluid pb-5 lightboxDemo">
    <div class="container-fluid lightboxDemo_container fixed_anchor" id="lightboxDemo">
        <div class="container py-5">
            <div class="page-header mb-3 text-center lightboxDemo_header">
                <h2>LightBox</h2>
            </div>
            <div class="pb-3 lightboxDemo_contents">
                <p>Lightboxも簡単に扱えるようにしました。詳しくは<a href="<%= relPath %>using.html">使い方</a>のプラグインの項目を参照。</p>
                <div class="text-center">
                    <a href="./img/eyecatch.jpg" class="luminous-sample"><img src="./img/eyecatch.jpg" alt="アイキャッチ画像" class="img-thumbnail" style="width:200px; height:200px; object-fit: cover;"></a>
                    <a href="./img/imgpath_test.jpg" class="luminous-sample"><img src="./img/imgpath_test.jpg" alt="テスト画像" class="img-thumbnail" style="width:200px; height:200px; object-fit: cover;"></a>
                    <a href="./img/origin_of_name.jpg" class="luminous-sample"><img src="./img/origin_of_name.jpg" alt="名前の由来背景画像" class="img-thumbnail" style="width:200px; height:200px; object-fit: cover;"></a>
                </div>
            </div>
        </div>
    </div>
</section>