@charset "utf-8";

// ============================================= *
//                                               *
// Import                                        *
//                                               *
// ============================================= */
@import "../../../../src/scss/assets/bootstrap/bootstrap"; //bootstrap
@import "../../../../src/scss/util/var"; //変数
@import "../../../../node_modules/brand-colors/dist/latest/scss/brand-colors.latest"; //ソーシャルメディアなどのブランドカラー
@import "../../../../src/scss/util/typo"; //ベンダープレフィックス等のMixinモジュール
@import "../../../../src/scss/util/module"; //ベンダープレフィックス等のMixinモジュール
//@import "util/bootcanceller"; //bootstrapでいつも気になるものをキャンセル
@import "../../../../src/scss/util/base"; //フォント指定やIE対処など
//@import "../../../../src/scss/_plugins/plugins"; //プラグイン
@import "../../../../src/scss/_plugins/styleguide/sg_index";
@import "../../../../src/scss/_plugins/styleguide/sg_news";
@import "../../../../src/scss/_plugins/styleguide/sg_article";
@import "../../../../src/scss/_plugins/pagetop/pagetop";
@import "../../../../src/scss/_plugins/articlesns/articlesns";
@import "../../../../src/scss/_plugins/themecolor/themecolor";
@import "../../../../src/scss/_plugins/safari/safari";
@import "../../../../src/scss/_plugins/chrome/chrome";

// ============================================= *
//                                               *
// 全体                                           *
//                                               *
// ============================================= */
.upper {
    min-height: calc(100vh - (1.5rem * 2) - #{$footer-height}); //コンテンツの高さが足りなくてもフッタを最下部に表示するように //1.5rem * 2:my-4で足される上端と下端のマージンの合計
}
// ============================================= *
//                                               *
// ヘッダ                                         *
//                                               *
// ============================================= */
//@import "util/navbar"; //ヘッダナビゲーションバーの設定。ハンバーガーメニューのアニメーションもここで。
@import "../../../../src/scss/partial/header";

// ============================================= *
//                                               *
// メインコンテンツ                                 *
//                                               *
// ============================================= */
.main {
    margin: {
        left: 0;
        right: 0;
    }
    padding: {
        left: 0;
        right: 0;
    }
    background-color: $bg-color;
    color: $color;
    div:not(.text-center) p:not(.text-center) {
        text-indent: 1rem;
        & .fa-fw {
            margin: {
                left: -1rem;
                right: 1rem;
            }
        }
    }
    section {
        ul {
            padding-left: 1.4rem;
        }
        ol {
            padding-left: 1.6rem;
        }
    }
}

// ============================================= *
//                                               *
// フッタ                                         *
//                                               *
// ============================================= */
@import "../../../../src/scss/partial/footer";