@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================== *
//                                                *
//  アイキャッチ                                    *
//                                                *
// ============================================= */
@import "index/eyecatch";

// ============================================== *
//                                                *
//  メイン                                         *
//                                                *
// ============================================= */
@import "index/indexmain";
body:not(.mobileSafari).index .indexmain .origin {
    background-attachment: fixed;
}
body.mobileSafari.index .indexmain .origin { //index.jsでUAにより付与。mobile Safariバグ対策
    background-attachment: scroll;
}