@charset "utf-8";

/* ********************************************* **
**                                               **
** foundation                                    **
**                                               **
** ********************************************* */
@import "foundation/init_load"; //foundation内ファイル読み込み(変数、ミックスイン、タイポグラフィ、プラグイン)

/* ********************************************* **
**                                               **
** layout                                        **
**                                               **
** ********************************************* */
@import "layout/height100"; //.l-upperクラスを付けることで、コンテンツの表示高さが画面高さ100%未満の場合footerを下端に表示させる
@import "layout/eyecatch";
@import "layout/footer";

/* ********************************************* **
**                                               **
** object/utility                                **
**                                               **
** ********************************************* */
@import "object/utility/link"; //aタグの色
@import "object/utility/mg";
@import "object/utility/news_cards";

/* ********************************************* **
**                                               **
** object/component                              **
**                                               **
** ********************************************* */
@import "object/component/header";
@import "object/component/eyecatch";
@import "object/component/main";
@import "object/component/pagination";
@import "object/component/footer";
@import "object/component/address";

/* ********************************************* **
**                                               **
** object/project                                **
**                                               **
** ********************************************* */
@import "object/project/index";

.index .indexmain {
    .origin {
        background: {
            image: url("../img/origin_of_name.jpg");
            repeat: no-repeat;
            position: center center;
        }
        background-size: cover;
        padding: {
            left: 0;
            right: 0;
        }
        &_container {
            background-color: rgba($color, 0.4);
            color: $bg-color;
        }
    }
}

body:not(.mobileSafari).index .indexmain .origin {
    background-attachment: fixed;
}
body.mobileSafari.index .indexmain .origin { //index.jsでUAにより付与。mobile Safariバグ対策
    background-attachment: scroll;
}
